
  
  .wrapper {
    margin: 0 auto;
    padding-bottom: 40px;
    max-width: 1240px;
  }
  
  .heading {
    padding: 40px 0 20px;
  

  }
  
  .shop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
  }
  