.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
}


.neon {
  color: #fff;
  text-shadow: 0 0 5px #fff,
  0 0 10px #fff, 
  0 0 15px #a500e6;
}

