.wrapper {
    margin: 0 auto;
    padding-top: 40px;
    max-width: 1240px;
}

.gallery {
    display: grid;
    grid-template-columns: 48.5% 46.77%;
    justify-content: space-between;
    margin-top: 20px;
}
.preload{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
  }
  