
.card {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 9px;
  width: 272px;

  cursor: pointer;
}



.image {
  max-width: 240px;

  object-fit: cover;
}

.price {
  display: flex;
  align-items: center;
  column-gap: 8px;


}
