.nav {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
}
.links {
    display: flex;
    flex-direction: column;
    list-style-type:  none;
    padding-left: 0;
}
.itemLinks {
    margin: 17px 0;

}
.link {
    color: inherit;
    transition: all 0.3s ease-in;
}
.link:hover, .activeLink {
    color: #f2f2f3;
}

.description {
    opacity: 40%;
}
.button {
    background-color: transparent;
    border: none;
    padding-left: 0;
  }