
a {
  text-decoration: none;
  color: #fff;
}

.headCont  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 18px 0;
}

.links{
  display: flex;
  column-gap: 49px;
}

.start{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 132px;

}


.header {
  color: #8585ad;
  background: #1C1C21;
}

.headCont {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
}


.navLink {
  display: flex;
  align-items: center;
  column-gap: 8px;
  color: inherit;
  transition: all 0.3s ease-in;
  
}

.navLink:hover {
  color: #f2f2f3;
}

.activeNavLink {
  color: #f2f2f3; 
  
}

